@addTagHelper *,TagHelpersSample
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <email mail="dursun.katar@gmail.com" display="Dursun"></email>
    <custom-table></custom-table>
</body>
</html>
